@model ApplicationUser
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Users</h1>
<br />
<br />

<div class="row">
    <div class=" col-6">
        <form asp-action= "Update" asp-controller="Users">
            <input hidden asp-for="Id"/>
        <div class="form-group">
            <label asp-for="@Model.UserName" class="col-form-label"></label> 
            <input asp-for="@Model.UserName" class="form-control" />
             <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div> 

         <div class="form-group">

            <Label asp-for="@Model.Email" class="col-form-label"></label> 
            <input asp-for="@Model.Email" class="form-control" /> 
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
         <div class="form-group">

            <Label asp-for="@Model.PhoneNumber" class="col-form-label"></label> 
            <input asp-for="@Model.PhoneNumber" class="form-control" /> 
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
        </div>


            <br/>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>

        </form>
    </div>
</div>

